.login-container
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 168px;
    background: linear-gradient(135deg, aliceblue 60%, cyan);
}
.login-form
{
    
    border: solid;
    padding: 38px;
    border-radius: 9px;

}